        {% extends 'users/base.html' %}
            {% block users %}
            {% load static %}

            <div class="popup" id="popup">
                  <div class="popup__contents">
                    <div class="left">
                     <img src="{% static "resources/img/1.jpg"%}" alt="Image1">
                    <img src="{% static "resources/img/2.jpg"%}" alt="Image1">
                    </div>
                    <div class="right">
                      <a href="/home"  class="popup__close">&times;</a>
                        {% load crispy_forms_tags %}
                            <div class="content-section">
                              <form method="POST" id="user-form"  style="width:80%;height:10px; margin-bottom:95%; margin-left:10%;">
                                  {% csrf_token %}
                                  <fieldset class="form-group">
                                      <legend class="border-bottom mb-4">places</legend>
                                      {{ form|crispy }}
                                  </fieldset>
                                  <div class="form-group">
                                    <br>
                                      <a href="#" class="btn btn-full" id="register-button">Confirm</a>
                                  </div>
                              </form>
                            </div>
                        </div>
                  </div>
                  </div>

        {% endblock %}
