{% extends 'blog/no-auth.html' %}
    {% block users %}
                {% load crispy_forms_tags %}
                      <div class="content-section">
                        <form method="POST" id="user-form">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                {{ form|crispy }}
                            </fieldset>
                            <div class="form-group">
                              <br>
                                <input type="submit" class="btn btn-full" id="register-button" vlaue="send"></input>
                            </div>
                        </form>
                      </div>
                  </div>
            </div>
            </div>
{% endblock %}
