{% extends 'users/base.html' %}
    {% block users %}
    {% load static %}
            <div class="popup" id="popup">
            <div class="popup__contents">
              <div class="left">
               <img src="{% static "resources/img/1.jpg"%}" alt="Image1">
              <img src="{% static "resources/img/2.jpg"%}" alt="Image1">
              </div>
              <div class="right">
                <a href=".."  class="popup__close">&times;</a>
                {% load crispy_forms_tags %}
                <h2>You have been logged out</h2>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        <a href="{% url 'users-login' %}">Log In Again</a>
                    </small>
                </div>
                        </div>
                    </div>
                  </div>
            </div>
            </div>
{% endblock %}
